
{% extends 'base.html' %}
{% block title %}Shop | {% endblock %}
{% block content %}
{% load static %}

<style>
	
    body{margin-top:20px;}
.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}
</style>
</style>

<div class="page-info-section page-info">
		<div class="container">
			<div class="site-breadcrumb">
				<a href="/">Home</a> / 
				<!-- <a href="">Sales</a> / 
				<a href="">Bags</a> /  -->
				<span>Cart</span>
			</div>
			<img src="{% static 'codeblue/img/page-info-art.png' %}" alt="" class="page-info-art">
		</div>
	</div>
	<!-- Page -->
	<div class="page-area cart-page spad">
		<div class="container">
			<div class="cart-table">
				<table>
					<thead>
						<tr>
							<th class="product-th">Product</th>
							<th>Price</th>
							<th class="quntity-th">Quantity</th>
							<th class="total-th">Total</th>
							<th class="delete-th">delete</th>

						</tr>
					</thead>
					{% for i in ci %}
					<tbo dy>
						<br>
							<td class="product-col">
								<img src="{{i.prod.img.url}}" alt="">
								<div class="pc-title">
									<h4>{{i.prod.name}}</h4>
									<a href="#">Edit Product</a>
								</div>
							</td>
							<td class="price-col">&#x20B9;{{i.prod.price}}</td>
							
							<td class="quntity-th">
								<div class="quntity-th">
									<a href="{% url 'mincart' i.prod.id %}">
									<input type="button" value="-" class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity"></a>
									<input type="number" step="1" max="10" value="{{i.quan}}" name="quantity" class="quantity-field border-0 text-center w-25">
									<a href="{% url 'addcart' i.prod.id %}" >
									<input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity"></a>
								 </div>
							</td>			
							<td class="total-col">&#x20B9;{{i.total}}</td>
							<td class="delete-th">
								<a  href="{% url 'remove' i.prod.id %}">
							<div class="col-lg-7 col-md-7 text-lg-right text-left">
								<div class="site-btn  btn-danger btn-delete">Delete</div>
							</div>
								</a>
						    </td>
						    </tr>
					</tbo>
					{% endfor %}
				</table>
			</div>
			<div class="row cart-buttons">
				<div class="col-lg-5 col-md-5">
					<a href="{% url 'product' %}" >
					<div class="site-btn btn-continue">Continue shooping</div>
				</a>  				
				</div>
				<div class="col-lg-7 col-md-7 text-lg-right text-left">
					<div class="site-btn btn-clear">Clear cart</div>
					<a href="/">
					<div class="site-btn btn-line btn-update">Back To Home</div>
				</a></div>
			</div>
		</div>
		<div class="card-warp">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="shipping-info">
							<h4>Shipping method</h4>
							<p>Select the one you want</p>
							<div class="shipping-chooes">
								<div class="sc-item">
									<input type="radio" name="sc" id="one">
									<label for="one">Next day delivery<span>&#x20B9;4.99</span></label>
								</div>
								<div class="sc-item">
									<input type="radio" name="sc" id="two">
									<label for="two">Standard delivery<span>&#x20B9;1.99</span></label>
								</div>
								<div class="sc-item">
									<input type="radio" name="sc" id="three">
									<label for="three">Personal Pickup<span>Free</span></label>
								</div>
							</div>
							<h4>Cupon code</h4>
							<p>Enter your cupone code</p>
							<div class="cupon-input">
								<input type="text">
								<button class="site-btn">Apply</button>
							</div>
						</div>
					</div>
					<div class="offset-lg-2 col-lg-6">
						<div class="cart-total-details">
							<h4>Cart total</h4>
							<p>Final Info</p>
							<ul class="cart-total-card">
								<li>Subtotal<span>&#x20B9;59.90</span></li>
								<li>Shipping<span>Free</span></li>
								<li class="total">Total<span>&#x20B9;{{t}}</span></li>
							</ul>
							<a class="site-btn btn-full" href="checkout.html">Proceed to checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</html>
{% endblock %}